@model CloudDevelopmentPOE1.Models.Venue

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Capacity"></label>
                <input asp-for="Capacity" class="form-control" />
            </div>
            <div class="form-group">
                <label>Upload Image</label>
                <input type="file" name="ImageFile" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}